.modal-header{
    border-bottom: 1px solid #e9ecef !important;
    padding: 0;
    margin: 0;
}
input[type="file"]::file-selector-button {
    background-color: #81ecec;
    border: 1px solid #00cec9;
}