<!-- <div class="container mt-5">
  <header class="bg-dark text-white p-2 mb-2 text-center">
    <h1>SEND OTP</h1>
  </header>
  <form [formGroup]="otpForm" (submit)="sendOtp()">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput type="text" placeholder="Ex. 123456" name="code"
        formControlName="code"
        [ngClass]="{ 'is-invalid': submitted && f['code'].errors}"
        minlength="6" maxlength="6">
        <mat-error *ngIf="submitted && f['code'].errors">
          <span *ngIf="f['code'].errors['required']">Please Enter your Code.</span>
          <span *ngIf="f['code'].errors['pattern']">Code compose of 6 numbers</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="text-center">
        <button type="submit" style="width: 100%;" class="btn btn-dark">SEND</button>
      </div>

    </div>
  </form>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-8 left">
    </div>
    <div class="col-4 right">
      <!-- OTP Start -->
      <div class="otp-container">
        <header class="bg-dark text-white p-2 mb-2 text-center">
          <h1>SEND OTP</h1>
        </header>
        <form [formGroup]="otpForm" (submit)="sendOtp()">
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Code</mat-label>
              <input matInput type="text" placeholder="Ex. 123456" name="code"
              formControlName="code"
              [ngClass]="{ 'is-invalid': submitted && f['code'].errors}"
              minlength="6" maxlength="6">
              <mat-error *ngIf="submitted && f['code'].errors">
                <span *ngIf="f['code'].errors['required']">Please Enter your Code.</span>
                <span *ngIf="f['code'].errors['pattern']">Code compose of 6 numbers</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="text-center">
              <button type="submit" style="width: 100%;" class="btn btn-dark">SEND</button>
            </div>
          </div>
        </form>
      </div>
      <!-- End -->
    </div>
  </div>
</div>