<div class="container mt-5">
  <header class="bg-dark text-white p-2 mb-2 text-center">
    <h1>SEND OTP</h1>
  </header>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex. juandelacruz@gmail.com" name="email">
        <!-- formControlName="Email" -->
      </mat-form-field>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-dark" (click)="sendotp()">SEND</button>
    </div>
</div>
