<div class="mat-dialog-container">
    <div class="modal-header">
        <h2 mat-dialog-title>Edit Partner's Information</h2>
    </div>
    <form [formGroup]="updatePartnerForm" (ngSubmit)="updatePartner(data.data.id)">
        <mat-dialog-content class="mat-typography text-dark">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Partner Name</mat-label>
                        <input matInput type="text" placeholder="Ex. Incognito" formControlName ="partnersName">
                        <mat-error *ngIf="submitted && f['partnersName'].errors" class="invalid-feedback m-0 p-0 ">
                            <span *ngIf="f['partnersName'].errors['required']">Partner's name is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Contact Person</mat-label>
                        <input matInput type="text" placeholder="Ex. Juan Dela Cruz" formControlName ="contactPerson">
                        <mat-error *ngIf="submitted && f['contactPerson'].errors" class="invalid-feedback m-0 p-0 ">
                            <span *ngIf="f['contactPerson'].errors['required']">Contact Person is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Contact Number</mat-label>
                        <input matInput type="text" placeholder="Ex. 09123456789" formControlName ="contactNo">
                        <mat-error *ngIf="submitted && f['contactNo'].errors" class="invalid-feedback m-0 p-0 ">
                            <span *ngIf="f['contactNo'].errors['required']">Contact No. is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Address</mat-label>
                        <input matInput type="address" placeholder="Ex. 123 Purok 2 Malolos, Bulacan" formControlName="address">
                        <mat-error *ngIf="submitted && f['address'].errors" class="invalid-feedback m-0 p-0 ">
                            <span *ngIf="f['address'].errors['required']">Address is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width:100%;">
                        <mat-label>Date of Partnership</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" formControlName="startDate">
                            <input matEndDate placeholder="End date" formControlName="endDate">
                        </mat-date-range-input>
                        <mat-hint>YYYY/DD/MM – YYYY/DD/MM</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                        <mat-error *ngIf="submitted && f['startDate'].errors && f['endDate'].errors" class="invalid-feedback m-0 p-0 ">
                            <span *ngIf="f['startDate'].errors['required']">Start Date is required.</span>
                            
                            <span *ngIf="f['endDate'].errors['required']">&nbsp;&nbsp;End Date is required.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 mt-2 ms-1">
                    <b>Moa:</b>
                    <div class="row">
                        <input type="file" class="FileUpload" formControlName="moaFile" (change)="onFileSelected($event)">
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close class="fw-bold border bg-danger text-white">CLOSE</button>
            <button mat-button class="fw-bold border bg-primary text-white" type="submit">Update</button>
        </mat-dialog-actions>
    </form>
</div>
