<div class="container-fluid">
    <div class="extension-program">
        <div class="row">
            <div class="col-12">
                <div class="float-end">
                    <button mat-raised-button (click)="AddExtensionForm()" class="float-right">
                        ADD EXTENSION
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <mat-form-field style="width: 100%;">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>  
            </div>
            <div class="col">
                <div class="table-container">
                    <table mat-table [dataSource]="dataSource" matSort>
                
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Program ID</th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                      </ng-container>
                
                      <!-- Progress Column -->
                      <ng-container matColumnDef="programTitle">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Title</th>
                        <td mat-cell *matCellDef="let row"> {{row.programTitle}} </td>
                      </ng-container>
                      <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.startDate | date}}</td>
                      </ng-container>

                      <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.endDate | date}}</td>
                      </ng-container>
                
                      <ng-container matColumnDef="place">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Place </th>
                        <td mat-cell *matCellDef="let row"> {{row.place}}</td>
                      </ng-container>
                
                      <ng-container matColumnDef="programLead">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Lead </th>
                        <td mat-cell *matCellDef="let row"> {{row.programLead}}</td>
                      </ng-container>
                
                      <ng-container matColumnDef="programFlow">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Program Flow </th>
                        <td mat-cell *matCellDef="let row"> {{row.programFlow}}</td>
                      </ng-container>
                
                      <ng-container matColumnDef="partner">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Partner </th>
                        <td mat-cell *matCellDef="let row"> {{row.partners}}</td>
                      </ng-container>
                
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                          <button mat-icon-button color="primary" (click)="viewExtension(row.id)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button color="warn" (click)="archiveExtension(row.id)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                      </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                  </div>
            </div>
        </div>
    </div>
</div>