<div class="container">
  <header class="bg-dark text-white p-2 mb-2 text-center">
    <h1>Admin Login</h1>
  </header>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" placeholder="Enter your first name">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" name="password" class="form-control" placeholder="Enter your first name">
    </div>
  </form>
</div>
