<div class="container-fluid">
  <div class="row">
    <div class="col-8 left">
    </div>
    <div class="col-4 right">
      <!-- Login Start -->
      <div class="login-container">
        <span>Login</span>
        <form [formGroup]="loginForm" (submit)="login()">
          <div class="row">
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Email Address</mat-label>
              <input matInput type="text" placeholder="Ex. Juan" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              >
              <mat-error *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <span *ngIf="f['email'].errors['required']">Email is required</span>
                <span *ngIf="f['email'].errors['email']">Email is invalid</span>
              </mat-error>
            </mat-form-field>
      
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="col-12 mt-2">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <span *ngIf="f['password'].errors['required']">Password is required</span>
                <span *ngIf="f['password'].errors['pattern']">Password must be 6 characters and atleast 1 special character, number, capital letter.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="float-end" routerLink="/user/forgot-otp">Forgot Password </div><br>
          <div class="row mt-2">
            <button type="submit" class="btn btn-dark">Login</button>
          </div>
        </form>
      </div>
      <!-- End -->
    </div>
  </div>
</div>