<div class="container">
  <header class="bg-dark text-white p-2 mb-2 text-center">
    <h1>Register</h1>
  </header>
  <form>
    <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Ex. Juan" formControlName="first_name" name="first_name">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Ex. Dela Cruz" formControlName="last_name" name="last_name">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input matInput placeholder="Ex. Reyes" formControlName="middle_name" name="middle_name">
        </mat-form-field>
    </div>
    <div class="row">

    </div>
    <div id="divChart">
      <canvas id="myChart"></canvas>
    </div>
  </form>
</div>
