<div class="container-fluid">
  <div class="row">
    <div class="col-8 left">
    </div>
    <div class="col-4 right">
      <!-- OTP Start -->
      <div class="register-container">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="row">
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Ex. Juan" formControlName="first_Name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Ex. Dela Cruz" formControlName="last_Name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-12">
              <mat-label>Middle Name</mat-label>
              <input matInput placeholder="Ex. Reyes" formControlName="middle_Name">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-radio-group aria-label="Select an option" name="gender" formControlName="Gender">
              <mat-label><b>Gender</b></mat-label>
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="Birthdate" name="Birthdate" placeholder="YYYY/MM/DD">
              <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option" name="ftype" formControlName="ftype">
              <mat-label><b>Faculty Type</b></mat-label>
              <mat-radio-button value="Regular">Regular</mat-radio-button>
              <mat-radio-button value="Part Time">Part Time</mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="Email" name="email">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="Password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-dark">Register</button>
          </div>
        </form>
      </div>
      <!-- End -->
    </div>
  </div>
</div>