a:link {
    text-decoration: none;
  }
  .left{
    background-image: url("./../../../../assets/img/leftbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 65%;
  }
  .right{
    background-image: url("./../../../../assets/img/rightbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35%;
  }
  
  .resetAdmin-container{
    margin: auto;
    width: 60%;
    padding-top: 25vh;
  }
  
  .Login-lbl{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 40px;
    margin-left: -20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .dot{
    background-image: url("../../../../assets/img/vectorcircle1.png");
    position: absolute;
    margin: auto;
    width: 60%;
    top: 0;
    left:0;
    width: auto;
    height: 20px;
  
  }
  @media screen and (max-width: 1200.3333px) { //large laptop
    .left{
      width: 70%;
    }
    .right{
      width: 30%;
    }
  }
  @media screen and (max-width: 1024.3333px) { //tablet
    .left{
      display: none;
    }
    .right{
      width: 100%;
    }
  }
  
  