<div class="container-fluid">
    <div class="row">
      <div class="col-8 left">
        <div class="dot"></div>
      </div>
      <div class="col-4 right">
        <!-- Login Start -->
        <div class="resetAdmin-container">
          <div class="Login-lbl">CHANGE PASSWORD</div>
          <form [formGroup]="resetPasswordForm" (submit)="resetAdmin()">
            <div class="row">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Ex. Juan@gmail.com" formControlName="email">
                <!-- <mat-hint>Hint</mat-hint> -->
              </mat-form-field>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-dark">Get New Password</button>
            </div>
          </form>
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
  